bs4                               == 0.0.1
chromadb                          == 0.3.29
duckduckgo-search                 >= 3.8.0
google-generativeai               >= 0.1.0
# langchain                         == 0.0.79
langchain                         == 0.0.213
langchainplus-sdk                 == 0.0.17
openai                            == 0.27.7
numpy                             == 1.24.3
python-dotenv                     == 1.0.0
pypdf                             == 3.12.1
PyPDF2                            == 3.0.1
streamlit                         == 1.23.1
streamlit-chat                    == 0.0.2.2
scikit-learn                      == 1.2.2
scipy                             == 1.10.1
sentence-transformers             == 2.2.2
setuptools                        == 65.6.3
transformers                      == 4.29.2
# chainlit                          == 0.4.1